* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;    
}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 20vh;
    width: 100%;
    background-color: rgb(221, 222, 223);
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}


table, td, tr{
    width: 50%;
    /* height: 60px; */
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding: 25px;    
}

.container {
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    min-height: 80vh;   
    width: 80%;
    padding-top: 10vh; 
}

.btn{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img {
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}


#alert{
    display: none;
}